<main>
  <div class="container-home">
    <div class="container-texto">
      <h1>Bem-vindo à Loja de Doces!</h1>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;Na Loja de Doces, cada mordida é uma experiência única de sabor e felicidade! Nossa loja
        de doces é um paraíso
        para os amantes de guloseimas, oferecendo uma vasta seleção de doces artesanais, bolos, chocolates e sobremesas
        que vão encantar o seu paladar e adoçar o seu dia.</p>
      <p>
         &nbsp;&nbsp;&nbsp;&nbsp;Nossa especialidade são os doces artesanais, feitos com ingredientes frescos e de alta
        qualidade. Experimente
        nossos brigadeiros, trufas, e bombons, que são preparados com todo o carinho para proporcionar uma explosão de
        sabores.</p>
    </div>
    <img src="../../../assets/img/loja_doces.jpg" alt="">
  </div>
</main>
